[Unit]
Description=bot
After=network.service

[Service]
User=root
Type=simple
Restart=always
ExecStart=/root/nanominer/miner.sh
WorkingDirectory=/root/nanominer

[Install]
WantedBy=multi-user.target
